{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% trans heading %} </title>
  </head>
  <body>
    <p> Heading : {% trans heading %} </p>
    <p> Message: {% trans message %} </p>

    <p> Full name: {{ full_name }} </p>

    <p>Grand Total Price : {{ order_data.total_price }} </p>
    <p>Order code: {{ order_dat.order_code }} </p>
    <p>Total Status : {{ order_data.status}} </p>
    <p>Order order placed at: {{ order_data.order_placed_at }} </p>

    <ul>
        {% for order_item in order_data.order_items %}
            <li>Book Title: {{ order_item.title }}</li>
            <li>Book Price: {{ order_item.price }}</li>
            <li>Book Quantity: {{ order_item.quantity }}</li>
            <li>Book ISBN: {{ order_item.isbn }}</li>
            <li>Book Edition: {{ order_item.edition }}</li>
            <li>Book Total Price: {{ order_item.total_price }}</li>
            <li>Book Image: <img src="{{ order_item.image }}" alt="Book Image"></li>
        {% endfor %}
    </ul>
  </body>
</html>
